body {
    background-color: #2C3E50;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

.container {
    font-size: 100%;
    background-color: #2980B9;
    color: #FFFFFF;
    text-align: center;
    padding: 20px 0;
    margin: 0;
}

.container2 {
    font-size: 80%;
    color: #FFFFFF;
    text-align: center;
    margin: 20px 0;
}

.button {
    background-color: #FFFFFF;
    color: #2980B9;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 122%;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px 0; /* Adjusted margin for better spacing between buttons */
}

.button:hover {
    background-color: #f0f0f0;
}

.container-buttons {
    text-align: center;
    padding: 10px;
}

.linha {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

.logico {
    text-align: center;
    padding: 50px 20px;
}

.img {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.img img {
    max-width: 80%;
    height: auto;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .container, .container2 {
        font-size: 90%;
        padding: 10px 0;
    }

    .button {
        font-size: 100%;
        padding: 8px 16px;
        width: 80%;
        margin: 10px auto;
    }

    .linha {
        width: 100%;
    }

    .logico {
        padding: 20px;
    }
}
